@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap');

/*########################### ทั่วไป ###########################*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 0;
}


/* ############################################################ */
/*########################### พื้นหลัง ###########################*/
.background1 {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(180deg, #567287 , #C7D0D7 , #B9C5CD , #8FA2AF );   
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.box-outer1{
    width: 140vh;
    height: 95vh;
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    position: relative;
    top: 2.5vh;
    
}
.box-outer2{
    width: 134vh;
    height: 89vh;
    background-color: #1A405C;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    top: 2.5vh;
    border: 1px solid #626265;
    box-shadow: 1px 1px 5px #1f1d1d inset,-1px -1px 10px #1f1d1d inset;
}


/* ########################################################################## */
/*########################### topic search filter ###########################*/
.User_information {
    color: white;
    margin-left: 25px;
    font-size: 25px;
    font-weight: bold;
}
.search{
    width: 165px;
    background: #ffffff;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 2px 2px;
    margin-right: 10px;
}
.search input{
    background:transparent;
    border: 0;
    outline: none;
    padding: 2px 2px;
    font-size: 10px;
}
.search_filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 35px;
}
.header_Table{ /*แยกคำว่า user information ออกจาก search & filter ออกจากกัน*/
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-popup{
    background-color: transparent;
    color: #fff;
}


/* ############################################################ */
/*########################### ตาราง ###########################*/
th{
    font-size: 15px;
}
.table1{
    width: 95%;
    background-color: transparent;
    margin: .8rem auto;
    font-size: 13px;
    flex-direction: column;
    text-align: left;
    border-collapse: separate;
    border-spacing: 0 10px;
    /* ย่อแล้วเป็น... */
    table-layout: fixed;
    white-space: nowrap;
}
.sec1{
    max-height: calc(89% - 1.6rem);
    overflow: auto;
    overflow: overlay;
}
.sec1::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}
.sec1::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #23577D;
    visibility: hidden;
}
.sec1:hover::-webkit-scrollbar-thumb{
    visibility: visible;
}
/* ทำตารางให้เป็นแถบ */
.table-lift {
    position: relative;
    bottom:15px;
    width: 95%;
    border-collapse: collapse;
    border-spacing: 0;
    overflow: hidden;
    background-color: #ffffff;
}
.table-lift:hover{
    background-color: #9fd7ff;
}
.table-lift th {
    background-color: #ffffff;
    color: #000000;
}
.table-lift th,
td {
    padding: 5px;
}
.user-list {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
/* ย่อแล้วเป็น... */
td, th{
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.row-status{
    width: 10px;
}
.row-ID{
    width: 20px;
}
.row-Date {
    width: 50px;
}
.row-Username {
    width: 60px;
}
.row-Organization {
    width: 60px;
}
.row-building{
    width: 50px;
}
.row-Lift {
    width: 50px;
}
.row-Detail {
    text-align: center;
    width: 150px;
}
.row-Action{
    text-align: center;
    width: 60px;
}


/* #################################################################33#################### */
/*############################## กำหนด popup กดก่อนแล้วค่อยขึ้น ##############################*/
#popupDialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #ffffff;
    border: 2px solid #1A405C;
    box-shadow: 0 0 50px
        rgba(0, 0, 0, 0.24);
    z-index: 1000;
    visibility: hidden;
}
.cencel-filter{
    background-color: transparent;
    padding: 2px 10px 2px 10px;
    border-radius: 4px;
    color: #1A405C;
    
}
.used-filter{
    background-color: #1A405C;
    /* color: #1A405C; */
    color: rgb(255, 255, 255);
    border-radius: 4px;
    padding: 2px 10px 2px 10px;
}
.used-filter:hover,.cencel-filter:hover{
    background-color: #ffe100;
    color: #1A405C;
}
.idm {
    width: 90px;
    color: #000000;
    border-radius: 5px;
    border: 2px solid #466e8c;
}
.bd{
    width: 100px;
    color: #1A405C;
    text-transform: none;
    font-size: 13px;
}
.filter {
    color: #000000;
    margin-bottom: 15px;
    font-size: 20px;
    text-align: center
}
.role-filter-box, .role-filter{
    font-size: 14px;
}


/* ########################################################################### */
/* ################################## ย่อจอ ################################## */
@media(max-width: 1000px){/*ย่อความกว้างของตารางในแต่ละคอลัมน์*/
    .box-outer1{
        width: 100%;
        max-width: 140vh;    
    }
    .box-outer2{
        width: 100%;
        max-width: 134vh;
    }
    /* การกำหนดขนาดของตาราง */
    .row-status{
        width: 10px;
    }
    .row-ID{
        width: 20px;
    }
    .row-Date {
        width: 45px;
    }
    .row-Username {
        width: 60px;
    }
    .row-Organization {
        width: 70px;
    }
    .row-Lift {
        width: 50px;
    }
    .row-Detail {
        text-align: center;
        max-width: 100px;
    }
    .row-Action{
        text-align: center;
        width: 60px;
    }
}

@media (max-width: 895px) {/*ทำตารางให้เป็นบล็อก*/
    td:first-child{
        padding-top: 15px;
    }
    td{/*ให้หัวข้อกับเนื้อหาในตารางแยกกัน*/
        display: block;
        gap: 0.5rem;
        grid-template-columns: 10ch auto;
        padding: 0.2rem 1rem 0.2rem 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }  
    /* การแสดงผลหัวข้อของตาราง */
    th{
        display: none;
    }
    td::before{
        text-transform: capitalize;
        font-weight: bold;
    }
    td:nth-of-type(1)::before {
        content: "ID : ";
    }
    td:nth-of-type(2)::before {
        content: "Date : ";
    }
    td:nth-of-type(3)::before {
        content: "User : ";  
    }
    td:nth-of-type(4)::before {
        content: "Organization : ";
    }
    td:nth-of-type(5)::before {
        content: "Life : ";
    }
    td:nth-of-type(6)::before {
        content: "Detail : ";
    }
    /* ปุ่ม proceed */
    .button-style{
        width: 50%;    
        text-align: center;
    }
    .parent-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width: 570px){/* สำหรับ filter */
    .idm {
        max-width: 65px;
        width: 100%;
        overflow: hidden;
        white-space: nowrap; 
    }
    .bd{
        max-width: 80px;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
    }
}

@media(max-width: 525px){/* สำหรับ Topic */
    .User_information {
        font-size: 20px;
    }
}

 /* สไตล์สำหรับ popup */
 .popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
}

.popup-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 50%;
    max-width: 600px;
}

.close {
    color: #333;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover, .close:focus {
    color: red;
    text-decoration: none;
}

.popup-header {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

/* รายการปัญหา */
.list-group-item {
    background-color: #f9f9f9;
    margin-bottom: 5px;
}

/* ฟอร์ม */
.form-inline {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-group {
    width: 100%;
}

/* ปุ่ม */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.problemlistbt{
    color: #ffffff;
    padding: 4px 15px;
    margin: 0 2px;
    font-size: 13px;
    background-color: transparent;
}
.problemlistbt:hover{
    background-color: #9fd7ff;
}